/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-image {
  background-image: url("/public/background.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
