/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-image {
  background-image: url("/public/background.png");
  background-repeat: repeat-y; /* Wiederhole vertikal */
  background-size: 100% auto;  /* 100% Breite, automatische Höhe */
  background-position: top center; /* Oben ausrichten, zentriert */
  background-attachment: fixed; /* Optional: Bild fixieren beim Scrollen */
}
#headerlogo {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 20px;
}
.space-y-8 {
  padding: 20px;
}
.mb-8 {
  padding: 20px;
}
.marginTop20 {
  margin-top: 20px;
}
